<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <title>Title</title>
    <style>
        body {
            background-color: #fff;
            font-family: 'Naunito', sans-serif;
            padding-top: 50px;
        }
        h1, h2, h3, h4, h5, h6 {
            font-family: 'Raleway', sans-serif;
        }
        a, p {
            color: #4b5156;
        }
        a {
            font-weight: 600;
        }
        input {
            outline: none;
            border: none;
        }
        .container {
            max-width: 800px;
            margin: auto;
            background-color: #fff;
            -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
            box-shadow: 2px 2px 13px -4px rgbs(0, 0, 0, 0.21);
        }
        .header-bar {
            display: flex;
            justify-content: space-between;
            color: #fff;
            padding: 10px;
            border-radius: 5px 5px 0 0;
            background: linear-gradient(90deg, #eea390 0%, #eb796f 43%, #eb796f 100%);
        }
        .header-bar a {
            color: rgb(247, 247, 247);
            text-decoration: none;
        }
        .note-items-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding: 20px;
            border-radius: 5px 5px 0 0;
        }
        .note-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
            overflow: hidden;
        }
        .note-title {
            display: flex;
            padding: 20px;
        }
        .note-title a {
            text-decoration: none;
            color: #4b5156;
            margin-left: 10px;
        }
        .note-controls {

        }
        .delete-link {
            text-decoration: none;
            font-weight: 700;
            color: #cf4949;
            font-size: 22px;
            line-height: 0;
            padding: 20px 0;
        }
        .edit-link {
            text-decoration: none;
            font-weight: 900;
            color: cornflowerblue;
            font-size: 22px;
            line-height: 0;
            padding: 20px 0;
        }
        .button {
            border: 1px solid #757575;
            background-color: #fff;
            color: #eb796f;
            padding: 10px;
            font-size: 14px;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }
        @media screen and (max-width:320px) {
            #search-add-wrapper {
                padding: 10px;
            }
        }
        input[type=text],
        input[type=password],
        textarea {
            border: 1px solid #757575;
            border-radius: 5px;
            padding: 10px;
            width: 90%;
        }
        label {
            padding-top: 10px !important;
            display: block;
        }
    </style>
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>