{% extends 'base/base.html' %}

{% block content %}
    <p>Login</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login">
    </form>

    <p>Dont have an account? <a href="{% url 'api:register' %}">Register</a></p>

{% endblock content %}