{% extends 'base/base.html' %}

{% block content %}
    <p>Register</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register">
    </form>

    <p>Already have an account? <a href="{% url 'api:login' %}">Login</a></p>

{% endblock content %}