{% extends 'base/base.html' %}

{% block content %}

    <div class="header-bar">
        <div>
            <h1>My notes</h1>
        </div>
        {% if request.user.is_authenticated %}
            <a href="{% url 'api:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'api:login' %}">Login</a>
        {% endif %}
    </div>

    <a href="{% url 'api:note-create' %}">Create a New one</a>

    <div class="note-search-wrapper">
        <form action="" method="get">
            {% csrf_token %}
            <input type="text" name="search-area">
            <input class="button" type="submit" value="Search">
        </form>
    </div>

    <div class="note-items-wrapper">
        {% for note in notes %}
        <div class="note-wrapper" data-position=""{{ note.pk }}>
            <div class="note-created-at">
                {{ note.created_at }}
            </div>
            <div class="note-title">
                <div class="note-icon"></div>
                <a class="edit-link" href="{% url 'api:note' note.id %}">{{ note.title }}</a>
            </div>
            <div class="note-controls">
                <a class="edit-link" href="{% url 'api:note-edit' note.id %}">Update</a>
                <a class="delete-link" href="{% url 'api:note-delete' note.id %}">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>



{% endblock content %}