{% extends 'base/base.html' %}

{% block content %}

    <div class="header-bar">
        <div>
            <h1>Node: {{ note.title }}</h1>
        </div>
        {% if request.user.is_authenticated %}
            <a href="{% url 'api:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'api:login' %}">Login</a>
        {% endif %}
    </div>

    <hr>

    <div class="note-details">
        <p>{{ note.description }}</p>

        <p>{{ note.body }}</p>

        <p>{{ note.created_at }}</p>
    </div>

{% endblock content %}