{% extends 'base/base.html' %}

{% block content %}
    <a href="{% url 'api:notes' %}">Go Back</a>

    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure to delete this Note: {{ note }}?</p>
        <input type="submit" value="Delete">
    </form>

{% endblock content %}