{% extends 'base/base.html' %}

{% block content %}

    <div class="header-bar">
        <p>Note Create</p>
    </div>

    <a href="{% url 'api:notes' %}">Go Back</a>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>

{% endblock content %}